@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

:root {
--primary-color: #52489c;
--secondary-color: #59c3c3;
--accent-color: #f45b69;
--text-dark: #333;
--text-light: #ebebeb;
--primary-font: Arial, Helvetica, sans-serif;
--secondary-font: Mooli, san-serif;
}

body {
    font-family: var(--primary-font);
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    background-color: lightgray;
}

h1, h2 {
    font-family: var(--secondary-font);
}

button {
    border: none;
    background-color: var(--primary-color);
    color: var(--text-light);
    font-size: larger;
}

a {
    color: var(--text-light);
}

header {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 10px;
    background-color: var(--primary-color);
    color: var(--text-light);
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
}

img {
    max-width: 100%;
    object-fit: cover;
}

figure {
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

footer{
    background-color: var(--primary-color);
    color: var(--text-light);
}