
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --primary-color: #ff2a2a;
    --secondary-color: #2a2a2a;
    --accent1-color: #00d4ff;
    --accent2-color: #ffffff;

    --heading-font: "Bebas Neue", sans-serif;
    --paragraph-font: "Roboto", Helvetica, sans-serif;
}

body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--secondary-color);
}

.logo {
    width: 50px;
}

.site-name {
    color: var(--accent2-color);
    font-family: var(--heading-font);
}

.survey-link {
    color: var(--primary-color);
    font-family: var(--paragraph-font);
}

.welcome-message {
    text-align: center;
    font-family: var(--paragraph-font);
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.game-poster {
    width: 200px;
}